@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

body{
    background: #FFFFFF;
}

#contentContainer{
    width: 80%;
    margin: 0px auto;
}

@media (max-width: 768px) {
    #contentContainer{
        width: 90%;
        margin: 0px auto;
    }
}

.ant-collapse > .ant-collapse-item{
  font-family: "Rubik", sans-serif;
}