.whyToAttendCard{
    width: 50%;
    display: flex;
    gap: 28px;
    height: 160px;
    padding: 0px 28px;
    // align-items: center;

    .cardImg{
        width: 12%;
        height: 100%
        
    }
    .cardContent{
        width: 88%;
        display: flex;
        flex-direction: column;
        gap: 8px;

        .cardTitle{
            font-size: 24px;
            font-weight: 500;
        }
        
    }
}

@media (max-width: 768px) {
    .whyToAttendCard{
        width: 100%;
        display: flex;
        gap: 28px;
        height: max-content;
        padding: 0 12px;
        // align-items: center;
    
        .cardImg{
            width: 16%;
            height: 100%
            
        }
        .cardContent{
            width: 84%;
            display: flex;
            flex-direction: column;
            gap: 4px;
    
            .cardTitle{
                font-size: 20px;
                font-weight: 500;
            }
            .cardDescription{
                font-size: 16px;
                // text-align: justify;
            }
            
        }
    }
}